/* ============================= */
/* ESTILOS GENERALES */
/* ============================= */

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Espaciado entre secciones */
section {
    padding: 40px 0;
}

/* Títulos */
h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 5px;
}

/* Imagen de perfil */
#sobre-mi img {
    max-width: 200px;
    border: 3px solid #333;
}

/* Lista de habilidades */
#habilidades ul {
    list-style-type: square;
    padding-left: 20px;
}

/* ============================= */
/* MODO OSCURO */
/* ============================= */

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode h2 {
    border-color: #ffffff;
}

.dark-mode .navbar {
    background-color: #000000 !important;
}
/* ============================= */
/* ANIMACIÓN DE ENTRADA */
/* ============================= */

.seccion {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.seccion.visible {
    opacity: 1;
    transform: translateY(0);
}
/* ============================= */
/* EFECTO COLOR EXTRA */
/* ============================= */

.fondo-activo {
    background-color: #dbeafe;
    transition: 0.5s;
}
